body {
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background: #ffffff;
}

h1 {
  width: 260px;
  font-family: "Georgia", serif;
  font-size: 36px;
  line-height: 36px;
}

h2 {
	font-family: 'Pangolin', cursive;
	font-weight: 400;
	text-align: center;
}

p {
  text-align: justify;
}

a {
	font-family: 'Pangolin', cursive;
	text-decoration: none;
	border-color: #ffc5b3;
  color: #666666;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
  max-width: 100%;
}

.container {
  width: 60%;
  margin: 0 auto;
  background: #ffffff;
}

.zoo-list {
  padding: 0;
  list-style: none;
}

.site-footer {
  display: flex;
  justify-content: center;
  color: #999999;
}